a{
	text-decoration: none;
	color: white;
	font-family: Century Gothic;
	font-size: 125%;
	border-right: 1px solid;
	padding: 8px;
	text-align: center;
	float: left;
}
a.image{
	color: blue;
	float: left;
	display: block;
	font-family: verdana;
	font-size: 100%;
	border: none;
	text-align: left;
}
a:hover{
	background-color: tomato;
}
a.image:hover{
	background-color: white;
	text-decoration: underline;
}
a:active, .act{
	background-color: blue;
	text-decoration: bold;
}
nav{
	background-color: red;
	overflow: hidden;
	display: block;
	padding: 0px;
	text-align: center;
}
body{
	background-color: black;
	margin: 0px;
}
section.main_Section{
	margin: 4px;
	padding: 4px;
	background-color: rgb(245,245,245);
	position: absolute;
	left: 12.5%;
	right: 12.5%;
}
section.sub_Section{
	margin: 8px;
	padding: 0px;
	background-color: white;
	width: 30%;
	float: left;
	display: block;
}
p{
	margin: 8px;
	font-family: verdana;
	font-size: 100%;
}
h1{
	margin: 8px;
	font-family: verdana;
	font-size: 200%;
}
table{
		width: 100%;
		border-collapse: collapse;
	}
table tr:nth-child(even){
		background-color: #eee;
		padding: 16px;
	}
table tr:nth-child(odd){
		background-color: #fff;
		padding: 16px;
	}
table th{
		color: white;
		background-color: black;
		padding: 16px;
		text-align: left;
		font-family: verdana;
	}